# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Java

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Pandas
* Matplotlib
* Scikit-learn
* TensorFlow

| Data Science Tools |
|--------------------|
|  Python            |
|  Jupyter Notebook  |
|  RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Potjamarn Arpornratn