<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# Test Environment for Generative AI classroom labs

This lab provides a test environment for the codes generated using the Generative AI classroom.

Follow the instructions below to set up this environment for further use.

# Setup

### Install required libraries

In case of a requirement of installing certain python libraries for use in your task, you may do so as shown below.

In [1]:
%pip install seaborn
import piplite

await piplite.install(['nbformat', 'plotly'])

### Dataset URL from the GenAI lab
Use the URL provided in the GenAI lab in the cell below.

In [2]:
URL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"

### Downloading the dataset

Execute the following code to download the dataset in to the interface.

> Please note that this step is essential in JupyterLite. If you are using a downloaded version of this notebook and running it on JupyterLabs, then you can skip this step and directly use the URL in pandas.read_csv() function to read the dataset as a dataframe

In [3]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

path = URL

await download(path, "dataset.csv")
file_name  = "dataset.csv"

---

# Test Environment

## Building the prompt: Importing the data set

In [6]:
# Keep appending the code generated to this cell, or add more cells below this to execute in parts
import pandas as pd

# Read CSV file into DataFrame
# Assuming first row is header and rows following are data
file_path = 'dataset.csv'

# Directly use read_csv without explicit conditionals or error handling
df = pd.read_csv(file_path)

# Display the resulting DataFrame to verify
print(df)

     Unnamed: 0 Manufacturer  Category     Screen  GPU  OS  CPU_core  \
0             0         Acer         4  IPS Panel    2   1         5
1             1         Dell         3    Full HD    1   1         3
2             2         Dell         3    Full HD    1   1         7
3             3         Dell         4  IPS Panel    2   1         5
4             4           HP         4    Full HD    2   1         7
..          ...          ...       ...        ...  ...  ..       ...
233         233       Lenovo         4  IPS Panel    2   1         7
234         234      Toshiba         3    Full HD    2   1         5
235         235       Lenovo         4  IPS Panel    2   1         5
236         236       Lenovo         3    Full HD    3   1         5
237         237      Toshiba         3    Full HD    2   1         5

     Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
0            35.560            1.6       8             256       1.60    978
1            39.624            2.0       4             256       2.20    634
2            39.624            2.7       8             256       2.20    946
3            33.782            1.6       8             128       1.22   1244
4            39.624            1.8       8             256       1.91    837
..              ...            ...     ...             ...        ...    ...
233          35.560            2.6       8             256       1.70   1891
234          33.782            2.4       8             256       1.20   1950
235          30.480            2.6       8             256       1.36   2236
236          39.624            2.5       6             256       2.40    883
237          35.560            2.3       8             256       1.95   1499

[238 rows x 13 columns]

In [7]:
# Optional: display basic information about the loaded DataFrame
print(df.head())
print('Rows:', len(df), 'Columns:', len(df.columns))

   Unnamed: 0 Manufacturer  Category     Screen  GPU  OS  CPU_core  \
0           0         Acer         4  IPS Panel    2   1         5
1           1         Dell         3    Full HD    1   1         3
2           2         Dell         3    Full HD    1   1         7
3           3         Dell         4  IPS Panel    2   1         5
4           4           HP         4    Full HD    2   1         7

   Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
0          35.560            1.6       8             256       1.60    978
1          39.624            2.0       4             256       2.20    634
2          39.624            2.7       8             256       2.20    946
3          33.782            1.6       8             128       1.22   1244
4          39.624            1.8       8             256       1.91    837
Rows: 238 Columns: 13

In [8]:
# Using isnull() and sum() to count missing values per column
# and then group by column names
missing_counts = df.isnull().sum().to_frame('Missing Counts').reset_index()

# Display the results
print(missing_counts)

             index  Missing Counts
0       Unnamed: 0               0
1     Manufacturer               0
2         Category               0
3           Screen               0
4              GPU               0
5               OS               0
6         CPU_core               0
7   Screen_Size_cm               4
8    CPU_frequency               0
9           RAM_GB               0
10  Storage_GB_SSD               0
11       Weight_kg               5
12           Price               0

In [9]:
# Identify columns that contain any missing values
cols_with_missing = df.columns[df.isna().any()].tolist()
# Output the list of columns with missing values
print("Columns with missing values:", cols_with_missing)

Columns with missing values: ['Screen_Size_cm', 'Weight_kg']

In [10]:
# Replace missing values based on the column type

# 1. For categorical 'Screen_Size_cm': Replace missing with the mode
Screen_Size_mode = df['Screen_Size_cm'].mode()[0]
df['Screen_Size_cm'] = df['Screen_Size_cm'].fillna(Screen_Size_mode)

# 2. For continuous 'Weight_kg': Replace missing with the mean
Weight_kg_mean = df['Weight_kg'].mean()
df['Weight_kg'] = df['Weight_kg'].fillna(Weight_kg_mean)

# Display the updated DataFrame
print(df)

     Unnamed: 0 Manufacturer  Category     Screen  GPU  OS  CPU_core  \
0             0         Acer         4  IPS Panel    2   1         5
1             1         Dell         3    Full HD    1   1         3
2             2         Dell         3    Full HD    1   1         7
3             3         Dell         4  IPS Panel    2   1         5
4             4           HP         4    Full HD    2   1         7
..          ...          ...       ...        ...  ...  ..       ...
233         233       Lenovo         4  IPS Panel    2   1         7
234         234      Toshiba         3    Full HD    2   1         5
235         235       Lenovo         4  IPS Panel    2   1         5
236         236       Lenovo         3    Full HD    3   1         5
237         237      Toshiba         3    Full HD    2   1         5

     Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
0            35.560            1.6       8             256       1.60    978
1            39.624            2.0       4             256       2.20    634
2            39.624            2.7       8             256       2.20    946
3            33.782            1.6       8             128       1.22   1244
4            39.624            1.8       8             256       1.91    837
..              ...            ...     ...             ...        ...    ...
233          35.560            2.6       8             256       1.70   1891
234          33.782            2.4       8             256       1.20   1950
235          30.480            2.6       8             256       1.36   2236
236          39.624            2.5       6             256       2.40    883
237          35.560            2.3       8             256       1.95   1499

[238 rows x 13 columns]

In [11]:
missing_counts = df.isnull().sum().to_frame('Missing Counts').reset_index()

# Display the results
print(missing_counts)

             index  Missing Counts
0       Unnamed: 0               0
1     Manufacturer               0
2         Category               0
3           Screen               0
4              GPU               0
5               OS               0
6         CPU_core               0
7   Screen_Size_cm               0
8    CPU_frequency               0
9           RAM_GB               0
10  Storage_GB_SSD               0
11       Weight_kg               0
12           Price               0

In [12]:
# Change the data type of 'Screen_Size_cm' and 'Weight_kg' to float
df['Screen_Size_cm'] = df['Screen_Size_cm'].astype(float)
df['Weight_kg'] = df['Weight_kg'].astype(float)

# Display the updated DataFrame to verify
print(df)

     Unnamed: 0 Manufacturer  Category     Screen  GPU  OS  CPU_core  \
0             0         Acer         4  IPS Panel    2   1         5
1             1         Dell         3    Full HD    1   1         3
2             2         Dell         3    Full HD    1   1         7
3             3         Dell         4  IPS Panel    2   1         5
4             4           HP         4    Full HD    2   1         7
..          ...          ...       ...        ...  ...  ..       ...
233         233       Lenovo         4  IPS Panel    2   1         7
234         234      Toshiba         3    Full HD    2   1         5
235         235       Lenovo         4  IPS Panel    2   1         5
236         236       Lenovo         3    Full HD    3   1         5
237         237      Toshiba         3    Full HD    2   1         5

     Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
0            35.560            1.6       8             256       1.60    978
1            39.624            2.0       4             256       2.20    634
2            39.624            2.7       8             256       2.20    946
3            33.782            1.6       8             128       1.22   1244
4            39.624            1.8       8             256       1.91    837
..              ...            ...     ...             ...        ...    ...
233          35.560            2.6       8             256       1.70   1891
234          33.782            2.4       8             256       1.20   1950
235          30.480            2.6       8             256       1.36   2236
236          39.624            2.5       6             256       2.40    883
237          35.560            2.3       8             256       1.95   1499

[238 rows x 13 columns]

## Building the prompt: Standardization and Normalization

You may notice that the parameter Screen_Size_cm represents the screen size in centimeters instead of the standard unit, which is inches. Also notice that the parameter Weight_kg would be better expressed in pounds.

In [13]:
# Conversion functions
def cm_to_inch(x):
    return x / 2.54

def kg_to_pound(x):
    return x * 2.20462

# Apply transformations
df['Screen_Size_inch'] = df['Screen_Size_cm'].apply(cm_to_inch)
df['Weight_pounds'] = df['Weight_kg'].apply(kg_to_pound)

# Drop the original columns
df.drop(columns=['Screen_Size_cm', 'Weight_kg'], inplace=True)

# Display updated DataFrame
print(df)

     Unnamed: 0 Manufacturer  Category     Screen  GPU  OS  CPU_core  \
0             0         Acer         4  IPS Panel    2   1         5
1             1         Dell         3    Full HD    1   1         3
2             2         Dell         3    Full HD    1   1         7
3             3         Dell         4  IPS Panel    2   1         5
4             4           HP         4    Full HD    2   1         7
..          ...          ...       ...        ...  ...  ..       ...
233         233       Lenovo         4  IPS Panel    2   1         7
234         234      Toshiba         3    Full HD    2   1         5
235         235       Lenovo         4  IPS Panel    2   1         5
236         236       Lenovo         3    Full HD    3   1         5
237         237      Toshiba         3    Full HD    2   1         5

     CPU_frequency  RAM_GB  Storage_GB_SSD  Price  Screen_Size_inch  \
0              1.6       8             256    978              14.0
1              2.0       4             256    634              15.6
2              2.7       8             256    946              15.6
3              1.6       8             128   1244              13.3
4              1.8       8             256    837              15.6
..             ...     ...             ...    ...               ...
233            2.6       8             256   1891              14.0
234            2.4       8             256   1950              13.3
235            2.6       8             256   2236              12.0
236            2.5       6             256    883              15.6
237            2.3       8             256   1499              14.0

     Weight_pounds
0         3.527392
1         4.850164
2         4.850164
3         2.689636
4         4.210824
..             ...
233       3.747854
234       2.645544
235       2.998283
236       5.291088
237       4.299009

[238 rows x 13 columns]

Normalize the CPU_frequency column by its maximum value in place, replacing the original data without creating a new attribute.

In [14]:
# Find the maximum CPU frequency
max_freq = df['CPU_frequency'].max()

# Normalize CPU_frequency column in place
df.loc[:, 'CPU_frequency'] = df['CPU_frequency'] / max_freq

# Display the updated DataFrame
print(df)

     Unnamed: 0 Manufacturer  Category     Screen  GPU  OS  CPU_core  \
0             0         Acer         4  IPS Panel    2   1         5
1             1         Dell         3    Full HD    1   1         3
2             2         Dell         3    Full HD    1   1         7
3             3         Dell         4  IPS Panel    2   1         5
4             4           HP         4    Full HD    2   1         7
..          ...          ...       ...        ...  ...  ..       ...
233         233       Lenovo         4  IPS Panel    2   1         7
234         234      Toshiba         3    Full HD    2   1         5
235         235       Lenovo         4  IPS Panel    2   1         5
236         236       Lenovo         3    Full HD    3   1         5
237         237      Toshiba         3    Full HD    2   1         5

     CPU_frequency  RAM_GB  Storage_GB_SSD  Price  Screen_Size_inch  \
0         0.551724       8             256    978              14.0
1         0.689655       4             256    634              15.6
2         0.931034       8             256    946              15.6
3         0.551724       8             128   1244              13.3
4         0.620690       8             256    837              15.6
..             ...     ...             ...    ...               ...
233       0.896552       8             256   1891              14.0
234       0.827586       8             256   1950              13.3
235       0.896552       8             256   2236              12.0
236       0.862069       6             256    883              15.6
237       0.793103       8             256   1499              14.0

     Weight_pounds
0         3.527392
1         4.850164
2         4.850164
3         2.689636
4         4.210824
..             ...
233       3.747854
234       2.645544
235       2.998283
236       5.291088
237       4.299009

[238 rows x 13 columns]

## Building the prompt: Categorical to numerical

For predictive modeling, the categorical variables are not usable currently. So, you must convert the important categorical variables into indicator numerical variables. Indicator variables are typically new attributes, with content being 1 for the indicated category and 0 for all others. Once you create the indicator variables, you may drop the original attribute.

For example, assume that attribute Screen needs to be converted into individual indicator variables for each entry. Once done, the attribute Screen needs to be dropped.

In [17]:
# This code performs one-hot encoding on the 'Screen' column, stores the resulting indicator columns in df1, appends them to the original DataFrame, and then removes the original 'Screen' column.

# 1) Convert 'Screen' into indicator variables named 'Screen_<value>'
df1 = pd.get_dummies(df['Screen'], prefix='Screen')

# 2) Append the indicator variables to the original DataFrame
df = df.join(df1)

# 3) Drop the original 'Screen' column from the DataFrame
df.drop(columns=['Screen'], inplace=True)

In [18]:
df

,Unnamed: 0,Manufacturer,Category,GPU,OS,CPU_core,CPU_frequency,RAM_GB,Storage_GB_SSD,Price,Screen_Size_inch,Weight_pounds,Screen_Full HD,Screen_IPS Panel
0,0,Acer,4,2,1,5,0.551724,8,256,978,14.0,3.527392,False,True
1,1,Dell,3,1,1,3,0.689655,4,256,634,15.6,4.850164,True,False
2,2,Dell,3,1,1,7,0.931034,8,256,946,15.6,4.850164,True,False
3,3,Dell,4,2,1,5,0.551724,8,128,1244,13.3,2.689636,False,True
4,4,HP,4,2,1,7,0.620690,8,256,837,15.6,4.210824,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,2,1,7,0.896552,8,256,1891,14.0,3.747854,False,True
234,234,Toshiba,3,2,1,5,0.827586,8,256,1950,13.3,2.645544,True,False
235,235,Lenovo,4,2,1,5,0.896552,8,256,2236,12.0,2.998283,False,True
236,236,Lenovo,3,3,1,5,0.862069,6,256,883,15.6,5.291088,True,False
237,237,Toshiba,3,2,1,5,0.793103,8,256,1499,14.0,4.299009,True,False

## Practice problems

### 1. Create a prompt to generate a Python code that converts the values under Price from USD to Euros.

Prompt:  Write a Python code to perform the following tasks.   converts the values in  Price from USD to Euros.

In [20]:
# Hypothetical exchange rate (1 USD = 0.85 EUR for simplicity)
exchange_rate = 0.85
df['Price'] = df['Price'] * exchange_rate

# Convert Price to Price_EUR directly using vectorized operation
# df['Price_EUR'] = df['Price'] * exchange_rate

# Drop the original 'Price' column
# df.drop(columns=['Price'], inplace=True)

# Display the updated DataFrame
print(df)

     Unnamed: 0 Manufacturer  Category  GPU  OS  CPU_core  CPU_frequency  \
0             0         Acer         4    2   1         5       0.551724
1             1         Dell         3    1   1         3       0.689655
2             2         Dell         3    1   1         7       0.931034
3             3         Dell         4    2   1         5       0.551724
4             4           HP         4    2   1         7       0.620690
..          ...          ...       ...  ...  ..       ...            ...
233         233       Lenovo         4    2   1         7       0.896552
234         234      Toshiba         3    2   1         5       0.827586
235         235       Lenovo         4    2   1         5       0.896552
236         236       Lenovo         3    3   1         5       0.862069
237         237      Toshiba         3    2   1         5       0.793103

     RAM_GB  Storage_GB_SSD    Price  Screen_Size_inch  Weight_pounds  \
0         8             256   831.30              14.0       3.527392
1         4             256   538.90              15.6       4.850164
2         8             256   804.10              15.6       4.850164
3         8             128  1057.40              13.3       2.689636
4         8             256   711.45              15.6       4.210824
..      ...             ...      ...               ...            ...
233       8             256  1607.35              14.0       3.747854
234       8             256  1657.50              13.3       2.645544
235       8             256  1900.60              12.0       2.998283
236       6             256   750.55              15.6       5.291088
237       8             256  1274.15              14.0       4.299009

     Screen_Full HD  Screen_IPS Panel
0             False              True
1              True             False
2              True             False
3             False              True
4              True             False
..              ...               ...
233           False              True
234            True             False
235           False              True
236            True             False
237            True             False

[238 rows x 14 columns]

### 2. Modify the normalization prompt to perform min-max normalization on the CPU_frequency parameter.

Prompt:  Write a Python code to perform the following tasks.  Perform min-max normalization on the CPU_frequency parameter.

In [21]:
# Perform min-max normalization on 'CPU_frequency'
df['CPU_frequency'] = (df['CPU_frequency'] - df['CPU_frequency'].min()) / (df['CPU_frequency'].max() - df['CPU_frequency'].min())

# Display the updated DataFrame
print(df)

     Unnamed: 0 Manufacturer  Category  GPU  OS  CPU_core  CPU_frequency  \
0             0         Acer         4    2   1         5       0.235294
1             1         Dell         3    1   1         3       0.470588
2             2         Dell         3    1   1         7       0.882353
3             3         Dell         4    2   1         5       0.235294
4             4           HP         4    2   1         7       0.352941
..          ...          ...       ...  ...  ..       ...            ...
233         233       Lenovo         4    2   1         7       0.823529
234         234      Toshiba         3    2   1         5       0.705882
235         235       Lenovo         4    2   1         5       0.823529
236         236       Lenovo         3    3   1         5       0.764706
237         237      Toshiba         3    2   1         5       0.647059

     RAM_GB  Storage_GB_SSD    Price  Screen_Size_inch  Weight_pounds  \
0         8             256   831.30              14.0       3.527392
1         4             256   538.90              15.6       4.850164
2         8             256   804.10              15.6       4.850164
3         8             128  1057.40              13.3       2.689636
4         8             256   711.45              15.6       4.210824
..      ...             ...      ...               ...            ...
233       8             256  1607.35              14.0       3.747854
234       8             256  1657.50              13.3       2.645544
235       8             256  1900.60              12.0       2.998283
236       6             256   750.55              15.6       5.291088
237       8             256  1274.15              14.0       4.299009

     Screen_Full HD  Screen_IPS Panel
0             False              True
1              True             False
2              True             False
3             False              True
4              True             False
..              ...               ...
233           False              True
234            True             False
235           False              True
236            True             False
237            True             False

[238 rows x 14 columns]

## Authors

[Abhishek Gagneja](https://www.linkedin.com/in/abhishek-gagneja-23051987/)

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-12-10|0.1|Abhishek Gagneja|Initial Draft created|

Copyright © 2023 IBM Corporation. All rights reserved.